{% extends "main.html" %}

{% block title %}
Lost password
{% endblock %}

{% block header %}
	
{% endblock %}

{% block sidebar %}
	
{% endblock %}

{% block content %}
<center>
<p>Forgotten your password? :(<br/>Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>

<form action="" method="post">{% csrf_token %}
{{ form.email.errors }}
<p><label for="id_email">E-mail address:</label> {{ form.email }} <input type="submit" value="Reset my password" /></p>
</form>
</center>
{% endblock %}